<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoSpam.</title>
    <link rel="stylesheet" href="../static/dist/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&display=swap" rel="stylesheet">
<style type="tailwindcss">
@layer utilities{
  .navitem::after{
@apply content-[''] bg-[#00CC76] h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
  }
  .navitem:hover::after{
    @apply w-[100%]
  }
}
</style>
</head>

<body>

<!-- Navbar -->

  <nav class="navbarhead bg-white">
    <div class="mx-auto">
      <div class="flex flex-row items-center justify-between mx-32 ">
        <!--logo-->
        <div>
          <a href="#" class="flex lg:w-[156px] md:w-[82px]  sm:pt-4">
          <img src="../static/dist/images/front logo.png "alt="NoSpam" >
        </a>
        </div>
        	<!-- Primary Navbar items -->
          <div class="hidden items lg:pt-6 md:flex items-center pl-96 ">
            <a href="#" class="navitem pl-[35px] text-xl leading-6 text-[#00AA95] font-Bebas hover:text-green-500 transition duration-300 relative">About</a>
            <a href="#" class="navitem pl-[35px] text-xl leading-6 text-[#00AA95] font-Bebas hover:text-green-500 transition duration-300 relative">Source Code</a>
            <a href="#" class="navitem px-[35px] text-xl leading-6 text-[#00AA95] font-Bebas hover:text-green-500 transition duration-300 relative">Contact Us</a>
          </div>
          <!-- logout button --> 
          <div class="hidden md:flex items-center space-x-5 pt-[22px] ">
            <button class=" bg-[#256D85] rounded-3xl  py-[8px] px-[8px] hover:bg-green-400 transition duration-300 "> 
              <div class="justify-center pl-7">
                <div class=" grid grid-cols-2 ">
                  <a href="#" class=" text-xl leading-6 space-x-10 font-Bebas font-medium text-white">Log Out</a>
                
                  <img src="../static/dist/images/logout (1).png" class=" w-5 justify-center pt-[2px] pl-[4px] " alt="logout">
            </div>
            </button>
      </div>
    </div>
   </nav>

<!-- Background green rounded box -->

  <div class=" relative flex items-center  justify-center  ">
    <div class="lg:mx-[127px] md:mx-16  w-[100%] h-[80vh] mt-3 rounded-lg bg-[#80FFDB]">
      
    </div>
  </div>

<!-- Footer -->
<div class="footerbar mt-5">
<div class="bg-[#122D42] ">
  <div class="flex flex-row items-center justify-between lg:mx-32 md:mx-16 ">
    <div class="">
      <img class=" w-[109px] my-2" src="../static/dist/images/front logo.png" alt="logo"> 
    </div>
    
      <div class="footer-col flex flex-row items-center justify-between lg:pl-24 md:pl-24   ">
        <h4 class=" text-[10px] leading-4 font-medium text-[#00AA95] font-Inter hover:text-green-200 transition duration-300" >©2022 NoSpam. | All rights reserved </h4>
      </div>
    <div class="flex flex-row justify-between space-x-8">
      <div class="footer-col relative flex justify-center items-center">
          <ul> 
            <li> <a class="text-[10px] leading-8 font-medium text-[#256D85] hover:text-green-700 transition duration-300" href="#">About </a></li>
          </ul>
      </div>
      <div class="footer-col relative flex justify-center items-center">
          <ul>
            <li> <a class="text-[10px] leading-8 font-medium text-[#256D85] hover:text-green-700 transition duration-300" href="#">Source Code</a></li>
          </ul>
      </div>
      <div class="footer-col relative flex justify-center items-center">
          <ul>
            <li> <a class="text-[10px] leading-8 font-medium text-[#256D85] hover:text-green-700 transition duration-300" href="#">Help Desk</a></li>
          </ul>
      </div>
  </div>
</div>
  
</div>
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
</body>

</html>