<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NoSpam.</title>
    <link rel="stylesheet" href="../static/dist/css/output.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter&family=Poppins&family=Sarabun&display=swap" rel="stylesheet">
<style type="tailwindcss">
@layer utilities{
  .navitem::after{
@apply content-[''] bg-[#00CC76] h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
  }
  .navitem:hover::after{
    @apply w-[100%]
  }
}
</style>
</head>

<body>

<!-- Navbar -->

  <nav class="navbarhead bg-white">
    <div class="mx-auto">
      <div class="flex flex-row lg:items-center lg:justify-between lg:mx-32 md:mx-16 ">
        <!--logo-->
        <div>
          <a href="#" class="flex lg:w-[156px] md:w-36 md:pt-3 w-24 lg:pt-5">
          <img src="../static/dist/images/front logo.png "alt="NoSpam" >
        </a>
        </div>
        	<!-- Primary Navbar items -->
          <div class="hidden items lg:pt-6 md:flex items-center md:items-end lg:pl-96 md:pl-36 ">
            <a href="#" class="navitem pl-[35px] lg:text-xl text-base leading-6 text-[#00AA95] font-Bebas hover:text-green-500 transition duration-300 relative">About</a>
            <a href="https://github.com/SayantanStackflow/TeamInfinity-NoSpam." class="navitem pl-[35px] lg:text-xl text-base leading-6 text-[#00AA95] font-Bebas hover:text-green-500 transition duration-300 relative">Source Code</a>
            <a href="#" class="navitem lg:px-[35px] md:px-3 lg:text-xl text-base leading-6 text-[#00AA95] font-Bebas hover:text-green-500 transition duration-300 relative">Contact Us</a>
          
            <!-- logout button --> 
            <div class="hidden md:flex items-center space-x-5 ">
              <button class=" bg-[#256D85] rounded-3xl  py-[8px] px-[8px] hover:bg-green-400 transition duration-300 "> 
                <div class="justify-center pl-7">
                  <div class=" grid grid-cols-2 ">
                    <a href="#" class=" lg:text-xl text-lg leading-6 space-x-10 font-Bebas font-medium text-white">Log Out</a>
                  
                    <img src="../static/dist/images/logout (1).png" class=" w-5 justify-center pt-[2px] pl-[4px] " alt="logout">
                  </div>
              </button>
            </div>

          </div>
          
          
      </div>
  </nav>

<!-- Background green rounded box -->

  <div class=" relative flex items-center  justify-center lg:pt-5 pt-4  ">
    <div class="lg:mx-[127px] md:mx-16 mx-5 w-[100%] h-[80vh] mt-3 rounded-lg bg-[#80FFDB]">
      <div class=" relative lg:ml-16 md:ml-10 flex items-center justify-center md:pt-11 pt-5 md:justify-start ">
        <h3>
          <a class=" font-Sarabun lg:text-3xl md:text-2xl text-[#256D85] font-black leading-[47px] uppercase " href="#">Write/Paste down your comment here </a>
        </h3>
      </div>
    
      <!-- written box -->

      <form action="{{ url_for('predict')}}" method="POST">
        <div class="md:pt-5 ">
          <div class="form-group flex items-center justify-center lg:mt-3">
            <textarea class="form-control m-0 block w-[90%] h-[70%] rounded-xl border-2 border-solid border-[#00cc76] bg-white bg-clip-padding px-3 py-1.5 text-lg pt-3 pl-4 transition ease-in-out focus:border-[#00CC76] focus:bg-white placeholder:opacity-50  focus:text-[#256D85] focus:outline-none" id="comment" name="comment" rows="10" placeholder="Begin writing your text here"></textarea>
          </div>
        </div>

         <!-- Predict Button -->
        <button type="submit">
          <div class="pl-5 pt-4 md:pl-[40px] lg:pt-[31px]  lg:pl-14">
            <a href="#" class="group relative overflow-hidden  rounded-lg bg-green-500 px-[30px] py-[5px] text-sm font-medium text-white transition-all duration-300 ease-out hover:bg-gradient-to-r hover:from-green-500 hover:to-green-400 hover:ring-2 hover:ring-green-400 hover:ring-offset-2 md:px-[50px] md:py-[7px] lg:px-[70px] lg:py-[8px]">
              <span class="ease absolute right-0 -mt-12 h-32 w-8 translate-x-12 rotate-12 transform bg-white opacity-10 transition-all duration-1000 group-hover:-translate-x-40"></span>
              <span class="relative">Predict</span>
            </a>
          </div>
        </button>
        
      </form>
    </div>
  </div>

<!-- Footer -->
<div class="footerbar mt-5">
  <div class="bg-[#122D42] ">
    <div class="flex flex-row items-center justify-between lg:mx-32 md:mx-16  mx-5">
      <div class="">
        <img class=" w-[109px] my-2" src="../static/dist/images/front logo.png" alt="logo"> 
      </div>
      
        <div class="footer-col lg:flex md:flex hidden flex-row items-center justify-between lg:pl-24 md:pl-24   ">
          <h4 class=" text-[10px] leading-4 font-medium text-[#00AA95] font-Inter hover:text-green-200 transition duration-300" >©2022 NoSpam. | All rights reserved </h4>
        </div>
      <div class="flex flex-row justify-between lg:space-x-8 md:space-x-4 space-x-3">
        <div class="footer-col relative flex justify-center items-center">
            <ul> 
              <li> <a class="text-[10px] leading-8 font-medium text-[#256D85] hover:text-green-700 transition duration-300" href="#">About </a></li>
            </ul>
        </div>
        <div class="footer-col relative lg:flex md:flex hidden justify-center items-center">
            <ul>
              <li> <a class="text-[10px] leading-8 font-medium text-[#256D85] hover:text-green-700 transition duration-300" href="https://github.com/SayantanStackflow/TeamInfinity-NoSpam.">Source Code</a></li>
            </ul>
        </div>
        <div class="footer-col relative flex justify-center items-center">
            <ul>
              <li> <a class="text-[10px] leading-8 font-medium text-[#256D85] hover:text-green-700 transition duration-300" href="#">Help Desk</a></li>
            </ul>
        </div>
    </div>
  </div>
    
</div>
    <script src="https://unpkg.com/flowbite@1.5.4/dist/flowbite.js"></script>
</body>

</html>